<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Document</title>
</head>
<body>
     <header>
         <h1>Search page</h1>
     </header>
 <main> 
     <form action="\search" method="POST" >
         <label >
             <span>Enter the recipe by keyword</span> 
             <input id='searchForRecpie' type="text" name="SearchFor"> 
       
    
    <input type="submit" value="Search from the recipes Api">
    </form>
 </main>
<footer></footer>

    
</body>
</html>